.stack-visualizer {
    display: flex;
    flex-direction: row;
    background: #f0e6d2;
    padding: 40px;
    border-radius: 30px;
    gap: 30px;
    /* spacing b/w columns */
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.stack-visualizer h2 {
    color: #81b85c;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 600;
}

.middle-panel h3 {
    color: #7f5d36;
    font-size: 15px;
}

.left-panel,
.middle-panel,
.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    color: #3e1f1b;
    border-radius: 20px;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2);
    height: 550px;
}

.left-panel {
    flex: 0.25;
}

.middle-panel {
    flex: 1;
}

.right-panel {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0.5;
}

.stack-box {
    overflow-y: auto;
}

img {
    pointer-events: none;
}

.level-box,
.stack-box {
    margin-bottom: 40px;
    padding: 30px;
    border: 2px dashed #c1a47d;
    background: #f7f0e1;
    border-radius: 12px;
    text-align: center;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
}

.level-box {
    align-items: start;
    align-self: start;
}

button {
    background-color: #a17d55;
    letter-spacing: 1px;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #8b6d4e;
    color: white;
    border-color: #816141;
}

.button-row {
    display: flex;
    gap: 5px;
    align-items: center;
}

.input-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.input-prompt input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-prompt button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.input-prompt button:hover {
    background-color: #45a049;
}


.center-button button {
    color: #81b85c;
    background-color: #ffffff;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.center-button button:hover {
    color: #8b6d4e;
    background-color: #ffffff;
    text-shadow: 1px 2px rgba(77, 77, 77, 0.2);
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.exit {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #d5696b;
    border-color: #cd7677;
}

.exit:hover {
    text-decoration: underline;
    color: #a4d569;
    border-color: #97cd76;
    transition: all 0.3s ease;
}

.points {
    font-size: small;
}

.stack-visualizer,
.left-panel,
.middle-panel,
.right-panel,
button {
    font-family: 'Mojangle', sans-serif;
}

.alert {
    display: block;
    margin: 20px auto 0;
    max-width: 300px;
    background-color: #fffbe6;
    border: 2px dashed #bfa27a;
    padding: 10px 20px 10px 5px;
    border-radius: 10px;
    font-size: 10px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: max-content;
}

.alert-close {
    position: absolute;
    top: 10px;
    right: 1px;
    cursor: pointer;
    font-weight: bold;
}

.alert-text {
    /* white-space: pre-line; */
    padding-right: 15px;
    color: #5c4033;
}