.middle-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}

.middle-pane > img {
    width: 250px;
    margin-bottom: 20px;
}

.middle-pane > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: rgb(131, 88, 50);
    margin-bottom: 20px;
}

.button-row {
    gap: 15px;
    display: flex;
    flex-direction: row;
}

button {
    font-size: 14px;
    cursor: pointer;
}

input[type="text"] {
    width: 10%;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}