@media (max-width: 600px) {
    .winpage-container {
        flex-direction: column;
        gap: 40px;
    }
}

h1 {
    color: rgb(131, 88, 50);
    margin-bottom: 0px;
    font-size: 32px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.button-row {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

button {
    color: inherit;
    font-size: 12px;
    cursor: pointer;
}

input[type="text"] {
    width: 140px;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.winpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 40px;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: rgb(230, 223, 186);
    box-sizing: border-box;
}

.winpane-left img {
    border-radius: 20px;
    pointer-events: none;
}

.winpane-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    max-width: 100%;
    max-height: max-content;
}

.winpane-right h2 {
    color: rgb(131, 88, 50);
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: none;
}

.win-image {
    border-radius: 20px;
    pointer-events: none;
    opacity: 1;
    transition: all 0.2s ease;
}

.win-gif {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.congrats-gif {
    width: 150px;
    max-width: 100%;
    height: auto;
}

.win-image.fade-out {
    opacity: 0;
}

.button-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaderboard-container {
  max-height: fit-content;
  overflow-y: auto;
  width: 100%;
}
