h1 {
    color: rgb(131, 88, 50);
    margin-bottom: 20px;
}

.button-row {
    gap: 10px;
    display: flex;
    flex-direction: row;
}

button {
    color: none;
    font-size: 12px;
    cursor: pointer;
}

input[type="text"] {
    width: 140px;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.winpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 40px;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    background-color: rgb(230, 223, 186);
    box-sizing: border-box;
}

.winpane-left img {
    max-width: 300px;
    border-radius: 20px;
    pointer-events: none;
}

.winpane-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    text-align: center;
    align-items: center;
}

.button-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}